<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let col of coleccionProductos">
    <div class="card">
      <img src="{{ col.imagen }}" class="card-img-top" alt="{{ col.alt }}" />
      <div class="card-body">
        <h5 class="card-title">{{ col.nombre }}</h5>
        <p class="card-text">
          {{ col.descripcion }}
        </p>
        <p>
          {{ col.precio }}
        </p>
        <!-- BOTON PARA ABRIR EL MODAL-->
        <button
          type="button"
          class="btn btn--outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#ModalCard"
          (click)="mostrarVer(col)"
        >
          Ver Mas
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA VISUALIZAR EL PRODUCTO QUE SE SELECCIONE -->
<div
  class="modal fade"
  id="ModalCard"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
